* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #002cfb;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  border: 1px solid lightgray;
  border-radius: 4px;
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  overflow: hidden;
}

li:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}

small {
  color: gray;
}

img {
  border-radius: 4px;
  height: 48px;
  float: left;
  margin-right: 10px;
  width: 48px;
}

li a {
  display: block;
  margin-top: 5px;
}

.vip img {
  border: 2px solid #002cfb;
}
